<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar color="primary">

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>Right Aligned Text</span>
</md-toolbar>

<div style="text-align:center">
  <h1>
   {{title}}!
  </h1>
</div>

<md-grid-list cols="4" rowHeight="2:1" >
  <md-grid-tile>
      <button md-fab>
        <i class="material-icons" (click)="openDialog()">done</i>
      </button>
  </md-grid-tile>
</md-grid-list>
